.coach4_container {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 1%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 253, 240, 1);
  }

  .coach4_container_upper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .coach4_container_middle {
    background-color: rgba(240, 238, 221, 1);
    height: 480px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    border-radius: 10px;
  }
  .coach4_container_middle h1 {
    background-image: url("../../images//Vector\ 14.png");
    background-size: cover;
    font-size: 32px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    height: 130px;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(85, 85, 85, 1);
  }
  
  .coach4_container_middle_middle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
  }
  /* .coach4_container_middle_middle div {
      height: 115px;
      width: 115px;
      background-color: rgba(255, 253, 240, 1);
      border-radius: 5px;
    } */
  
  .text_input {
    border: 1px solid rgba(233, 231, 213, 1);
    height: 48px;
  }
  .coach4_container_middle_middle_male,
  .coach4_container_middle_middle_female,
  .coach4_container_middle_middle_other {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .coach4_container_middle_button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .coach4_container_middle_button button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .coach4_container_middle_button .second {
    background: linear-gradient(90deg, #ff5c52 -14.45%, #ff776e 100%);
    border: none;
    outline: none;
    color: white;
  }
  .coach4_container_middle_button .first {
    background: rgba(255, 253, 240, 1);
    border: 2px solid #ff5c52;
    color: #ff5c52;
  }
  
  .coach4_container_upper_right {
    height: 50px;
    background-color: rgba(233, 231, 213, 1);
    width: 150px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .switch-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 5px;
    background: rgba(255, 253, 240, 1);
  }
  
  .switch-button {
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s, color 0.2s;
  
    border-radius: 5px;
  }
  
  .switch-button:hover {
    background-color: #ccc;
  }
  
  .switch-button.active {
    background: rgba(233, 231, 213, 1);
    color: rgba(85, 85, 85, 1);
  }
  
  .switch-button:not(.active):hover {
    background-color: #ccc;
    color: rgba(85, 85, 85, 1);
  }
  