.readmore_container {
  text-align: center;
}

.services_container_card_button button {
  margin-top: 20px;
  color: white;

}

.services_container_card_button_two {
  display: flex;
  margin-top: 20px;

  justify-content: space-around;
}

.services_container_card_button_two button {
  width: 180px;
  height: 35px;
  border: none;
  color: white;
  outline: none;
  background: linear-gradient(90deg, #ff5c52 -14.45%, #ff776e 100%);
  cursor: pointer;
  border-radius: 10px;
}

.readmore_container p {
  font-size: 16;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  color: #555555;
}
