.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  height: 70%;
}
.header_pageName {
  margin-bottom: 15px;
  width: 50%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 49.81px;
  border: 0.89px solid rgba(194, 194, 194, 1);
}
.header .active {
  width: 65%;
  background: linear-gradient(0deg, #f6f5f7, #f6f5f7),
    linear-gradient(98.22deg, #a9a9a9 0%, #dfdddd 100%);
  border: 1px solid rgba(169, 169, 169, 1);
}
.form-container h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
  color: rgba(85, 85, 85, 1);
  letter-spacing: 0em;
  text-align: left;
}

.form-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}

.form_right_side {
  width: 40%;
  height: 70%;
  background: linear-gradient(
      151.53deg,
      #d4e9fb 0%,
      rgba(246, 245, 247, 0.7) 0.01%,
      rgba(255, 255, 255, 0.7) 100%
    ),
    linear-gradient(0deg, #dfdddd, #dfdddd);
  border: 1px solid rgba(223, 221, 221, 1);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 38px;
}

.footer_next_button {
  background: linear-gradient(90deg, #ff5c52 -14.45%, #ff776e 100%);
  outline: none;
  border: none;
  width: 160px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.footer_prev_button {
  border: 2px solid #ff5c52;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  /* border: none; */
  width: 160px;
  height: 50px;
}

.gender_button-container {
  display: flex;
  width: 400px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.gender_button-container_div {
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: rgba(246, 245, 247, 1);
  width: 120px;
  height: 120px;
}

.gender_active {
  /* background-color: #ff5c52; */
  border: 1px solid rgba(223, 221, 221, 1);
}

.footer {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.weight_container_middle_middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.weight_text_input {
  border-radius: 5px;
  width: 130px;
  font-size: 15px;
  border: 3px solid rgba(223, 221, 221, 1);
  height: 48px;
}

/* .coach2_container_middle_button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.coach2_container_middle_button button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
} */

/* .coach2_container_middle_button .second {
  background: linear-gradient(90deg, #ff5c52 -14.45%, #ff776e 100%);
  border: none;
  outline: none;
  color: white;
} */
/* .coach2_container_middle_button .first {
  background: rgba(255, 253, 240, 1);
  border: 2px solid #ff5c52;
  color: #ff5c52;
}

.coach2_container_upper_right {
  height: 50px;
  background-color: rgba(233, 231, 213, 1);
  width: 150px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
} */

.weight_switch-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  background: rgba(246, 245, 247, 1);
}

.switch-button {
  padding: 8px 16px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s, color 0.2s;

  border-radius: 5px;
}

.switch-button:hover {
  background-color: #ccc;
}

.switch-button.weight_active {
  background: rgba(223, 221, 221, 1);
  color: rgba(85, 85, 85, 1);
}

.switch-button:not(.weight_active):hover {
  background-color: rgba(246, 245, 247, 1);
  color: rgba(85, 85, 85, 1);
}

.age_container_middle_middle_first {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 199px;
  height: 68px;
  background-color: rgba(246, 245, 247, 1);
  border-radius: 5px;
}

.material-symbols-outlined {
  border-radius: 50%;
  background-color: rgba(223, 221, 221, 1);
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
